# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Crawling results and temporary files
/output/
*.json
results.json

# Sync and configuration files
/sync

# Build and deployment
dist/
serverless.yml
.serverless